.grid {
  --grid-layout-gap: 1rem;
  --grid-column-count: 6;

  @media (min-width: 1280px) and (max-width: 1440px) {
    --grid-column-count: 7;
  }

  @media (min-width: 1440px) and (max-width: 1600px) {
    --grid-column-count: 8;
  }

  @media (min-width: 1600px) and (max-width: 1920px) {
    --grid-column-count: 9;
  }

  @media (min-width: 1920px) {
    --grid-column-count: 10;
  }

  --grid-item--min-width: 7.5rem;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );
  grid-gap: var(--grid-layout-gap);

  .game {
    transition: transform 0.4s;

    .overlay {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      transition: 0.2s ease;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);

      .overlay {
        opacity: 0.5;
      }
    }
  }
}
